* {{
  fg: {foreground};
  transparency: "real";
  background-color: transparent;
  font: "Cantarell 13";
}}

window {{
  fullscreen: true;
  padding: calc(100% - 600px) calc(100%-1000px);
  background-color: {background}90;
}}

inputbar {{
  border: 1px;
  border-color: {color12};
}}
